.header {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 1rem;
  border-top: solid;
  border-color: lightgray;
}

.grid_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  /* NEW */
  justify-content: center;
}

.grid_cell {
  width: 50%; 
}

.cell_wrapper {
  display: flex;
  border: lightgray;
  border-style: solid;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.cell_text_wrapper {
  padding-left: 1rem;
  width: 100%;
}
.cell_outer_wrapper {
  width: 25rem;
  height: 15rem;
  padding: 1rem;
  
}

.cell_img {
  width: 4rem;
  height: 100%;
}
.cell_title {
  padding-bottom:1rem;
}

.detail_text_wrapper {
  width: 100%;
  padding: 2rem;
  padding-left: 5rem;
}
.detail_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4rem;
  padding-right: 10%;
  padding-left: 10%;
}

.detail_img {
  width: 15rem;
  height: 30rem;
  display: flex;
}
.detail_title {
  padding-bottom: 1rem;
  font-size: x-large;
  font-weight: bold;
}

.modal_outer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal_content {
  background-color: #8e8e8e;
  margin: 10% auto;
  border: 3px solid black;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 65%;
  border-radius: 1rem;
  }

.modal_close_button{
  width: 2rem;
  height: 1rem;
  border-radius: 2rem;
  justify-items: center;
  float: right;
  color: black;
  font-size: 2rem;
}

.modal_close_button:hover{
   cursor: pointer;
}